.App {
  font-family: 'Raleway', sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  /*background-color: #e8e8e8;*/
}

.header {
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-text {
  color: white;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.header-text:hover {
  color: #f06;
}

.photo {
  margin-top: 80px;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.intro-header {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 80px;
  font-family: 'Playfair Display', serif;
}

.intro {
  text-align: center;
  margin-top: 0;
  width: 80%;
  font-size: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a:hover {
  color: #f06;
}

.project {
  margin-left: 20px;
  margin-top: 30px;
  width: 100%;
  align-self: flex-start;
}

.project h1 {
  font-family: 'Playfair Display', serif;
  margin-top: 10px;
  margin-bottom: 5px;
}

.project h2 {
  font-family: 'Playfair Display', serif;
  margin-top: 10px;
  margin-bottom: 5px;
}

.project p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.projectImages {
  width: 95%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.projectImagesPlain {
    width: 95%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

.arrows {
  align-self: center;
  font-size: 50px;
  color: #d3d3d3;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media (min-width: 870px) {
  .projectImageMain {
    width: 275px;
    height: 505px;
    margin: 10px;
  }

  .projectImageSide {
    opacity: 0.5;
    align-self: center;
    width: 190px;
    height: 349px;
    margin: 10px;
  }
}

@media (max-width: 870px) {

  .projectImageMain {
    width: 205px;
    height: 377px;
    margin: 10px;
  }

  .projectImageSide {
    opacity: 0.5;
    align-self: center;
    width: 150px;
    height: 276px;
    margin: 10px;
  }
}
